<div class="bg-img"></div>
<div id="about_us" class="jumbotron container-fluid">
    <div class="narrow text-center">
        <div class="col-12">
            <h2>About Us</h2>
            <p class="lead"> Travelioc is committed to bringing our clients the best in value and quality travel arrangements. <br>We are passionate about travel and sharing the world's wonders with you.</p>
            <a class="btn btn-secondary btn-md" href="mailto:joysprincia9906@gmail.com" >Mail Us</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

