<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="home"><img src="assets/images/Logo2.png" height="35px" width="50px"></a>
        <a class="navbar-brand" href="home" >Travelioc</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarRes">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarRes" class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="package/">Tour Packages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about-us">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="team/">Team</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a id="book" class="nav-link btn btn-secondary btn-sm" href="#out"><strong><i class="fa fa-plane"></i>  Book Now</strong></a>
                </li>
                <li class="nav-item">
                  <a id="login" class="nav-link btn btn-secondary btn-sm" href="formlogin/"><strong>Login</strong></a>
              </li>
            </ul>
        </div>
    </div>
  </nav>
  <router-outlet></router-outlet>