<!--Image Carousel-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="homebody">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="assets/images/image5.png" >
        <div class="carousel-caption">
            <h1 class="display-2">Welcome to Travelioc</h1>
            <h3>Best Tourism at Affordable Cost</h3>
            <a id="book_1" class="btn btn-outline-light btn-lg" href="#out"><i class="fa fa-plane fa-lg"></i>  Book Now</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/image2.jpg">
      </div>
      <div class="carousel-item">
        <img src="assets/images/image4.jpg">
        <div class="carousel-caption">
          <h1 class="display-1">Come On !!!<br> </h1>
          <h3>We will surely satisfy your expectations</h3>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div id="know_us" class="offset">
    <div class="container">
      <div id="row_id" class="row">
        <div class="col-md-6">
          <img src="assets/images/Know_us_img.jpg" class="two w-100 shadow-1-strong rounded mb-12"/>
        </div>
        <div class="col-lg-6">
          <h1>Best of TRAVELIOC</h1>
        <h5>Travelioc agency is an expert in French travel, providing 5-star small group & private tours of Paris.<br><br>

          For the best experience from Paris Tours, book our special combo tours of Paris such as our popular One Day Paris Tour, which combines a walking guided tour of the city and a boat tour down the Seine river.<br><br>
          
          If you want a personalized tour of the city, we offer a wide selection of Private city sightseeing tours of Paris.</h5>
        </div>
      </div>
  </div>


  <div id="contact" class="offset">
    <footer>
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <img src="assets/images/Logo2.png">
                <p>At our site is a collection of tourism packages which are related to the choices of your places.</p>
                <strong>Contact Info</strong>
                <p>91-9876543210<br>travelioc@org.in</p>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
                <a href="mailto:joysprincia9906@gmail.com" target="_blank"><i class="fa fa-envelope fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
            </div>
            <hr class="socket">
            &copy; Travelioc
        </div>
    </footer>
</div>
</div>
  <router-outlet></router-outlet>
