
<div class="front-box">
    <form (ngSubmit)="onSubmit()">
        <table align="center">
            <tr><th colspan=2><h2><strong>Update Package</strong></h2></th></tr>
        <tr>
        <th><h4>Package Name</h4></th>
        <td><input type="text" class="form-control" id="packagename" maxlength="30" [(ngModel)]="packages.package_name" name="pacakge_name"></td>
        </tr>
        
        <tr>
        <th><h4>Place</h4></th>
        <td><input type="text" class="form-control" id="place" maxlength="50" [(ngModel)]="packages.place" name="place"></td>
        </tr>
        
        <tr>
        <th><h4>Days Of Tour</h4></th>
        <td><input type="text" class="form-control" id="daysoftour" maxlength="20" [(ngModel)]="packages.days_of_tour" name="days_of_tour"></td>
        </tr>
        
        <tr>
        <th><h4>Price</h4></th>
        <td><input type="text" class="form-control" id="price" maxlength="30" [(ngModel)]="packages.package_price" name="package_price"></td>
        </tr>  
        
        <tr>
        <td colspan=2 align="center">
        <button class="button-2" type="submit" id="submitButton">Submit</button>
        </td>
        </tr>
        
        </table>
        </form>
        </div>
<router-outlet></router-outlet>