<div id="places" class="offset">
    <div class="col-12 text-center">
        <h2 class="heading">European Tour Packages</h2>
        <h3>Places which you love to enjoy your holidays</h3>
        <hr class="socket">
    </div>
    <div class="row padding">
        <div class="col-md-3 ">
            <div id="places_card" class="card h-100 text-center">
                <a href="Finland_page.html"><img class="card-img-top" src="assets/images/Finland.jpg"></a>
                <div class="card-body">
                    <h4>Finland Visits</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="places_card" class="card h-100 text-center">
              <a href="Spain_page.html"><img class="card-img-top" src="assets/images/Spain.jpg"></a>
                <div class="card-body">
                    <h4>Spain Holidays</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="places_card" class="card h-100 text-center">
              <a href="London_page.html"><img class="card-img-top" src="assets/images/London.png"></a>
                <div class="card-body">
                    <h4>London Tour</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="places_card" class="card h-100 text-center">
              <a href="Paris_page.html"><img class="card-img-top" src="assets/images/Paris.jpg"></a>
                <div class="card-body">
                    <h4>Paris Tour</h4>
                </div>
            </div>
        </div>
    </div>
</div>
