h2{
    color:white;
}

.front-box {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 500px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

.form-control{
    background: rgba(0,0,0,.5);
    color:aliceblue;
    width:300px;
}

button{
    background-color:aliceblue;
    border-color: aliceblue;
    border-radius:5px;
}